@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@mixin desktob {
    @media (min-width: 1440px) {
        @content
    }
}


@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}



@mixin table {
    @media (min-width: 768px) {
        @content
    }
}